# Environment
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
.venv/

# Database
*.db
*.sqlite3

# Celery
celerybeat-schedule*
*.pid

# Logs
*.log

# Node
frontend/node_modules/

# Build
frontend/dist/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db